.main-background-image {
    background-image: url('../images/image\(1\).png');
    height: 100vh;
}

.container {
    // background: white;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    padding: 16px;
}

.formStyles {
    width: 50%;
}
