.navbar-image {
    position: relative;
}

.navbar-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/image\(7\).png');
    opacity: 0.75;
}

.navbar-content {
    position: relative;
    z-index: 1;
}
